.container {
  max-width: 1440px !important;
  padding: 0rem !important;
  /* background-color: var(--dashboard-yellow); */
}

.sizecontainer {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flexboardcontainer {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.overallcontainer {
  background-color: white;
  margin: 0 auto;
  /* padding-bottom: 2rem; */
  width: 95%;
  height: 100vh;
}

.leftcontainer {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
}

.tablenavcontainer {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 0rem;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.5rem;
}

.tablenavcontaineractive {
  background-color: var(--SVP-main);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 0rem;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.5rem;
}

.disappear {
  display: none;
}

.tablenavcontainer:focus {
  background-color: var(--SVP-main) !important;
  color: white;
}

.tablenavcontainer:hover {
  background-color: var(--SVP-main) !important;
}

.tablenavcontaineractive:hover {
  background-color: var(--SVP-main) !important;
}

.flexcontent {
  display: flex;
}

.centertext {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasktitle {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 0px;
}

.absolutecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  border-bottom: 1px solid black;
  width: 20px;
  padding-top: 14px;
}
.avatar {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  color: white;
  margin-bottom: 0px;
  background-color: var(--SVP-main);
  font-family: "Inter", sans-serif;
}

.statusbutton {
  background-color: var(--black400);
  border-radius: 8px;
}

.declinedbutton {
  background-color: var(--error);
  border-radius: 8px;
}

.approvedbutton {
  background-color: var(--success);
  /* background-color: brown; */
  border-radius: 8px;
}

.pendingbutton {
  background-color: #2d9cdb;
  border-radius: 8px;
}

.statusbuttontext {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 0.8rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 600;
}

.centericon {
  text-align: center;
}

.rightboardcontainer {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.boarderheadercontainer {
  border-top: 4px solid;
  border-color: #7879f1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
}

.boarderheadercontainerpurple {
  border-color: #f178b6 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 4px solid;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
}

.borderheadercontainerblue {
  border-color: #2d9cdb !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 4px solid;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
}

.contentcontainer {
  margin-top: 2rem;
  box-shadow: 4px 8px 13px rgba(0, 0, 0, 0.05);
}

.contenttext {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  color: var(--textblack);
}

.content {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 17px;
  color: var(--textblack);
}

.innercontainer {
  padding: 0.5rem;
}

.flextext {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.assigned1 {
  color: var(--black400);
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-right: 4rem;
}

.textname {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0px;
  margin-left: 0.3rem;
}

.value {
  color: var(--textblack);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.statusbuttontext1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 600;
}

.flexname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.bordertext {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.absoluterightcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flexicon {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.imagetexticon {
  display: flex;
  gap: 0.2rem;
}

.icontext {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0px;
  color: var(--black600);
}

.name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0px;
  color: var(--black400);
}

.name1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 700;
  color: var(--textblack);
}

.rightcontainer {
  display: flex;
  border-top: 1px solid;
  border-color: var(--black100);
  margin-top: 0.4rem;
  padding-top: 1rem;
  justify-content: flex-end;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.disappear {
  display: none;
}

.taskapprovaltitle {
  padding-top: 52px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.secondtitle {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 0px;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  font-weight: 600;
  /* margin-left: 12px; */
}

.radiobutton {
}
.secondtitlecontainer {
  background-color: var(--SVP-main);
  margin-top: 20px;
}

.descriptioncontainer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.descriptiontitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
  color: var(--textblack);
}

.descriptioncontent {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--black600);
  margin-bottom: 0px;
}

.yellowbackground {
  border-radius: 25px;
  background-color: #f0f0f0;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.absolutecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textname {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  /* margin-left: 0.3rem; */
}

.textarea {
  background-color: var(--black200);
  font-family: "Inter", sans-serif;
}

.textarea :focus {
  background-color: var(--black200);
  font-family: "Inter", sans-serif;
}

.absoluterightendcontainer {
  display: flex;
  padding: 2rem 0;
  justify-content: flex-end;
}

.flexbuttoncontainer {
  display: flex;
  gap: 1rem;
}

.cancelbutton {
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  border: 1px solid !important;
  background-color: transparent !important;
  font-weight: 500;
  font-size: 1rem;
  border-color: var(--SVP-main);
}

.cancelbutton:hover {
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  border: 1px solid !important;
  background-color: transparent !important;
  font-weight: 500;
  font-size: 1rem;
  border-color: var(--SVP-main);
}

.cancelbutton:focus {
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  border: 1px solid !important;
  background-color: transparent !important;
  font-weight: 500;
  font-size: 1rem;
  border-color: var(--SVP-main);
}

.sharebutton {
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: var(--white);
  border: 1px solid !important;
  background-color: var(--SVP-main) !important;
  font-weight: 500;
  font-size: 1rem;
  border-color: var(--SVP-main);
}

.datepickerbutton {
  border: 1px solid;
  border-color: var(--black100);
  border-radius: 8px;
  background-color: white;
  padding: 0.5rem;
  white-space: nowrap;
  display: flex;
  /* background-color: blue; */
}

.calendaricon {
  margin-right: 0.2rem;
  width: 15px;
  height: 15px;
}

.datevalue {
  margin-bottom: 0px;
  padding-top: 3px;
  padding-left: 3px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepickertitle {
  display: flex;
  flex-direction: column;
}

.datepickertitlelabel {
  margin-bottom: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
}
