.react-datepicker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 140px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-right: 1.5rem;
  /* background: url(./calendar.svg) no-repeat; */
  /* padding-left: 30px; */
  /* background-repeat: no-repeat; */
  border-color: var(--black100);
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input::placeholder {
  padding-left: 12px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: none;
  border-style: none;
  border-width: 0px;
}
