.container {
  max-width: 1440px !important;
  padding: 0rem !important;
  /* background-color: var(--dashboard-yellow); */
}

.overallcontainer {
  margin: 0 auto;
  /* padding-bottom: 2rem; */
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
}

.overallcontainer::-webkit-scrollbar {
  display: none;
}

.leftcontainer {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid;
  border-color: var(--black200);
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.tablenavcontainer {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 0rem;
  height: 56px;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.5rem;
}

.tablenavcontaineractive {
  background-color: var(--SVP-main);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 0rem;
  height: 56px;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 0.5rem;
}

.tablenavcontainer:hover {
  background-color: var(--SVP-main) !important;
}

.tablenavcontaineractive:hover {
  background-color: var(--SVP-main) !important;
}

.filecontainer {
  /* width: 16rem; */
  border: 1px solid;
  width: 227px;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  display: flex;
  /* gap: 0.2rem; */
  border-radius: 8px;
  border-color: var(--black200);
}

.centericon {
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filecontainer:hover {
  display: flex;
  border-radius: 8px;
  border-color: var(--SVP-main);
  background-color: var(--dashboard-yellow);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--textblack);
  margin-bottom: 0rem;
}

.size {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-size: 0.8rem;
  margin-bottom: 0rem;
}

.date {
  font-family: "Inter", sans-serif;
  color: var(--textblack);
  font-size: 1rem;
  margin-bottom: 0rem;
}

.wrapcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  /* row-gap: 5rem; */
  margin-top: 1rem;
  gap: 2rem;
  padding-bottom: 2rem;
}
.filegridcontainer {
  display: grid;
  gap: 1rem;
}

.cardcontainer {
  border-radius: 8px;
  width: 15rem;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--black200);
}

.fleximageicon {
  display: flex;
  gap: 1rem;
}

.cardcontainer:hover {
  border-radius: 8px;
  width: 15rem;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--SVP-main);
  background-color: var(--dashboard-yellow);
}

.flexcontainer {
  display: flex;
  gap: 1rem;
}

.gridimage {
  width: 192px;
  height: 144px;
  object-fit: contain;
}
.filename {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

.mainimage {
  padding: 0.5rem 0rem;
  /* width: 100%; */
  width: 13rem;
  height: 180px;
}

.flexjust {
  display: flex;
  justify-content: space-between;
}

.avatarname {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.date {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.flexwrapcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: #f0f0f0;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.absolutecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablename {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0rem;
  margin-left: 0.3rem;
}

.flextable {
  display: flex;
}

.disappear {
  display: none;
}

.filerightcontainer {
  flex: 1;
}
.dash {
  border-bottom: 1px solid black;
  width: 20px;
  padding-top: 17px;
}
.datepickerbutton {
  border: 1px solid;
  border-color: var(--black100);
  border-radius: 8px;
  background-color: white;
  padding: 5px 5px;
  white-space: nowrap;
  display: flex;
  /* background-color: blue; */
}

.calendaricon {
  margin-right: 0.2rem;
  width: 17px;
  height: 17px;
}

.datevalue {
  margin-bottom: 0px;
  padding-top: 2px;
  padding-left: 2px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepickertitle {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 30px;
}

.datepickertitlelabel {
  margin-bottom: 0px;
  text-align: center;
  margin-left: 35px;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
}
