* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --SVP-main: #e1a450;
  --SVP-main50: #fff07d;
  --SVP-main200: #fabb65;
  --SVP-main400: #ca903d;
  --white: #ffffff;
  --textblack: #3f3f3f;
  --black50: #f3f3f3;
  --black100: #dddddd;
  --black200: #c6c6c6;
  --black400: #9b9b9b;
  --black600: #727272;
  --success: #45c000;
  --warning: #fce83a;
  --error: #ff3838;
  --dashboard-yellow: #f0f0f0;
  --active-selection-black: rgba(104, 102, 95, 0.1);
}

body {
  font-family: "Inter", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
