.tablecontainer {
  margin-top: 1rem;
  border-top: 1px solid;
  border-color: var(--black100);
}

.spacing {
  padding-bottom: 5rem;
}

.centericon {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-size: 0.8rem;
  font-weight: 700;
}

.centericon1 {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-size: 0.8rem;
  font-weight: 700;
}

.overallnavigation {
  /* background-color: white; */
  padding-top: 3rem;
}

.navigation {
  /* padding-top: 4.8rem; */
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--black100);
  display: flex;
  gap: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textcontainer {
  /* margin-top: 0.4rem; */
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  margin-bottom: 0.4rem;
}

.titlenavigation {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0px;
  color: var(--textblack);
  font-family: "Inter", sans-serif;
}

.flexlinkcontainer {
  display: flex;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;
}

.linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkcontainer:hover {
  border-bottom: 2px solid;
  border-color: var(--SVP-main);
}

.linkcontaineractive {
  border-bottom: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--SVP-main);
}

.navboxescontainer {
  display: flex;
  gap: 0.5rem;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--black100);
}

.imageicon {
  margin-left: 1rem;
}

.centercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navboxestext {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0px;
  margin-right: 1rem;
}
.navboxestextactive {
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 1rem;
  margin-right: 1rem;
}

.modalbutton {
  border-radius: 8px;
  background-color: var(--SVP-main);
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: none;
}

.modalcontent {
  border-radius: 0px;
}

.modalbody {
  padding: 0rem !important;
}

.modal-content {
  border-top: 0px !important;
  border-bottom: 25px;
}
.modal-content {
  border-radius: 0px !important;
}

.statusbutton {
  background-color: var(--black400);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completebutton {
  background-color: var(--success);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusbuttontext {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 600;
}

.upcoming {
  background-color: orange;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexequalcontainer {
  margin: 0 auto;
}

.paddingcontain {
  padding: 2rem;
}

.nameproject {
  font-family: "Inter", sans-serif;
  /* margin-top: 2.2rem; */
  font-weight: 600;
  font-size: 1.5rem;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 19px;
  margin-top: 1.2rem;
  color: var(--textblack);
}

.assigned {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.yellowbackground {
  border-radius: 25px;
  background-color: var(--dashboardyellow);
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.absolutecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textname {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  /* margin-left: 0.3rem; */
}

.flexheader {
  display: flex;
  gap: 1rem;
}

.taskname {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.taskcontainer {
  border: 1px solid;
  color: var(--black200);
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.taskheader {
  display: flex;
  justify-content: space-between;
}

.headertext1 {
  font-weight: 600;
  margin-bottom: 0rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: var(--textblack);
}

.progressbar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  margin-top: 0.9rem;
  background-color: var(--black100);
}

.progressyellow {
  width: 50%;
  height: 8px;
  border-radius: 8px;
  background-color: var(--SVP-main);
}

.formcontainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flexheader2 {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.seetext {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}

.attachmentflex {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.absolutebuttoncenter {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.buttonname {
  background-color: var(--SVP-main);
  border-radius: 8px;
  width: 12rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.buttontext {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--white);
  margin-bottom: 0rem;
  font-weight: 600;
  white-space: nowrap;
}

.calendartextcontainer {
  border-left: 1px solid;
  border-color: var(--black200);
  height: 37px;
}

.datetitletext {
  /* margin-bottom: 0.2rem; */
  margin-left: 0.5rem;
  color: var(--black400);
  font-weight: 600;
  margin-bottom: 0rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.icontextcontainer {
  display: flex;
  /* gap: 0.5rem; */
  margin-left: 0.5rem;
}

.calendaricon {
  margin-right: 0.5rem;
  width: 15px;
  height: 15px;
}

.datetext {
  font-weight: 600;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.attachmentcontainer {
  border: 1px solid;
  border-radius: 8px;
  padding: 0.4rem;
  gap: 0.5rem;
  display: flex;
  border-color: var(--black200);
}

.attachmenttext {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--textblack);
  margin-bottom: 0rem;
}

.attachmentsize {
  color: var(--black400);
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0rem;
}

.attachmentflex {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.statusbutton {
  background-color: var(--black400);
  border-radius: 8px;
}

.declinedbutton {
  background-color: var(--error);
  border-radius: 8px;
}

.approvedbutton {
  background-color: var(--success);
  /* background-color: brown; */
  border-radius: 8px;
}

.pendingbutton {
  background-color: #2d9cdb;
  border-radius: 8px;
}

.search {
  border-radius: 25px;
  width: 144px;
  border-color: var(--black200);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-indent: 30px;
  height: 32px;
}

.search::placeholder {
  /* padding-left: 1rem; */
}

.searchiconcontainer {
  position: relative;
}

.searchicon {
  position: absolute;
  left: 12px;
  top: 8px;
}

.absolutecenter3 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
/* 
.statusbuttontext {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.8rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 600;
} */
