.modal-content {
  border-radius: 20px;
}

.form-check-input:checked[type="radio"] {
  background-image: url("/icons/dot.svg");
}

.form-check-input:checked {
  background-color: white;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("/icons/check-black.svg");
}

#custom-switch1 {
  border-color: black;
  border: 2px solid;
  border-radius: 0px;
}

#disabled-custom-switch1 {
  border-color: black;
  border: 2px solid;
  border-radius: 0px;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Add New Files";
  color: var(--SVP-main);
  display: inline-block;
  background: transparent;
  border: 1px solid var(--SVP-main);
  border-radius: 8px;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
/* .custom-file-input:hover::before {
  border-color: black;
} */
.custom-file-input:active {
  outline: 0;
}
/* .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */
